---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.jsx';
---

<Layout>
  <h1 class="text-3xl font-bold mb-4">Contáctanos</h1>
  <ContactForm />
</Layout>
