---
import Layout from "../layouts/Layout.astro";
import Calculator from "../components/forms/Calculator.jsx";
---

<Layout>
  <div class="flex flex-col items-center justify-center text-center mb-8">
    <h2 class="text-3xl mb-4 font-normal text-(--secundary)">
      Impulsa tu marca
    </h2>
    <h2 class="text-3xl font-normal mb-4 text-(--secundary)">
      con <span class="text-(--complement) uppercase font-bold">parcon</span>
    </h2>
    <p>
      Publicidad digital e impresión con alto impacto <span
        class="text-(--secundary)">visual</span
      >.
    </p>
  </div>
  <Calculator client:load />
</Layout>
