---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.jsx';
---

<Layout>
  <h1 class="text-3xl font-bold mb-4">Cotiza tu proyecto</h1>
  <Calculator client:load />
</Layout>
