---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import Cinta from '../components/Cinta.astro';
---

<Layout>
  <section class="w-screen flex flex-col justify-baseline  ">
    <Hero />
  <Cinta/>
  </section>
</Layout>
