---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import Cinta from '../components/Cinta.astro';
---

<Layout>
  <section>
    <Hero />
  <Cinta/>
  </section>
</Layout>
