---
import Layout from "@layouts/Layout.astro";
import ContactForm from "@components/ContactForm.jsx";

console.log();
---

<Layout>
  <!-- seccion del buscador -->
  <section><input type="text" placeholder="Busacar producto" /></section>

  <!-- seccion final -->
  <section>no encuestras lo que buscas?</section>
</Layout>
