---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Parcon - Publicidad Digital e Impresión</title>
  </head>

  <body class="bg-blue-500 text-white min-h-screen flex flex-col">
    <Navbar />

    <main class="flex-grow   ">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
</style>
