<!-- Nueva sección: Mapa -->
<section id="ubicacion" class="bg-(--primary) rounded-lg shadow-md mb-10 p-6">
  <h2 class="text-3xl font-semibold text-(--complement) mb-6 text-center">
    Nuestra Ubicación
  </h2>
  <div class="w-full aspect-w-16 aspect-h rounded-lg overflow-hidden shadow-lg">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380.03018384879897!2d-65.24482432124596!3d-16.99507628206706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e44f00162f9983%3A0xfeec062cfe2490e7!2sGIGANTOGRAFIAS%20PARCON!5e0!3m2!1ses!2sbo!4v1686475740349!5m2!1ses!2sbo"
      width="100%"
      height="950"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Ubicación Gigantografías Parcon, Shinahota, Cochabamba"
      class="border-0 w-full h-full"></iframe>
  </div>
</section>
