<section
  id="introduccion"
  class="bg-(--primary) rounded-lg shadow-md mb-10 flex flex-col md:flex-row items-center gap-6 p-6 container mx-auto">
  <img
    src="/sucursal.png"
    alt="Sucursal de la agencia de gigantografías"
    class="rounded-lg object-cover w-full md:w-96 flex-shrink-0 shadow-xl"
  />
  <div class="flex-1">
    <h2 class="text-3xl font-semibold text-(--secundary) mb-4">
      Bienvenido a Nuestra Agencia de Gigantografías
    </h2>
    <p class="mb-2">
      Transformamos tus ideas en impresionantes piezas visuales de gran formato
      que capturan la atención y destacan tu marca.
    </p>
    <p>
      Con tecnología avanzada y materiales de alta calidad, garantizamos
      resultados duraderos y vibrantes.
    </p>
  </div>
</section>
{/* services */}
<section
  id="servicios"
  class="bg-(--primary) rounded-lg shadow-md mb-10 flex flex-col md:flex-row items-center gap-6 p-6 container mx-auto">
  <img
    src="https://www.envaser.com/wp-content/uploads/2020/07/servicios_personalizados.jpg"
    alt="Proceso de impresión de gigantografía"
    class="rounded-lg object-cover w-full md:w-96 flex-shrink-0"
  />
  <div class="flex-1">
    <h2 class="text-3xl font-semibold text-(--complement) mb-4">
      Servicios Personalizados
    </h2>
    <p class="mb-2">
      Ofrecemos impresión en vinilo, lonas, telas y materiales especiales para
      interiores y exteriores.
    </p>
    <p>
      Desde anuncios publicitarios hasta decoraciones urbanas, adaptamos el
      producto a tus necesidades específicas.
    </p>
  </div>
</section>
